@import "tailwindcss";

/* Dark theme */
[data-theme="dark"] {
  --bg-primary: #0d0d0d;
  --text-primary: #eee;
  --text-secondary: rgba(255, 255, 255, 0.4);
}

/* Light theme */
[data-theme="light"] {
  --bg-primary: #ffffff;
  --text-primary: #1a1a1a;
  --text-secondary: rgba(0, 0, 0, 0.5);
}

html,
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

/* optional smooth UI feel like Vercel */
html {
  scroll-behavior: smooth;
}